
.col-3 {
    margin: 1px;
}
.hh-header {
    position: relative;
    height: 180px;
}
.hh-logo {
    position: relative;
    left: 850px;
    width: 250px;
}
.hh-company {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    text-shadow: 0 0 2px black;
    position: absolute;
    top: 45px;
    padding-bottom: 2px;
    border-bottom: 1px dotted gray;
}
.hh-slogan {
    position: relative;
    top: 100px;
}
.hh-sheet {
    box-shadow: 0 0 5px lightgray;
    border-radius: 10px;
    position: relative;
    top: -10px;
}
.hh-body {
    padding: 5px;
}
.hh-image {
    position: relative;
    width: 300px;
}
.hh-cart ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: smaller;
}
.hh-card {
    margin: 7px 0;
}
.hh-product {
    text-align: center;
    padding: 5px 2px;
    display: inline-block;
}
.hh-product .card-body img {
    height: 150px;
    max-width: 95%;
}
.nav-item{
    text-align: left;
    width: max-content;
}
.btn {
    margin: 5%;
}
.a {
    margin-top: 5%;
}
.hh-text {
    text-align: left;
    padding: 36px;
}
.soluong {
    width: 50px;
}
.bi-facebook {
    position: relative;
    padding: 4px;
}
.bi-twitter {
    position: relative;
    padding: 4px;
}
.bi-instagram {
    position: relative;
    padding: 4px;
}
dl, ol, ul {
    align-items: center;
}
.icons {
    font-size: 24px;
}
.button {
    background-color: black;
    color: white;
    border: 1px solid black;
    height: 30px;
}
.navlist {
    list-style-type: none;
    text-align: left;
    padding: 10px;
    margin: -8px;
}
@media (min-width:1200px) {
    h3{
        font-size: 1.75rem  ;
    }
}